@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
  margin:0 0 0 0;
  padding:0 0 0 0;
  font-family: "open sans",sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}