.comment-container{
    width: 900px;
    background-color: rgb(181, 244, 255);
    // margin: 0 auto;
    border-radius: 2px;
    margin-top: 10px;
    padding: 20px 30px;
    .createdAtComment{
        font-size: 17px;
        opacity: .8;
    }
}
