@import "../../style/mixins.scss";
.postContainer {
  width: 900px;
  // min-height: 200px;
  background: rgb(37, 113, 255);
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin: 50px 0;
  transition: 0.5 linear;
  .upPost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
    color: white;
    font-weight: 800;
    border-bottom: 1px solid rgb(255, 255, 255);
    .controlPost{
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .seeLessMore {
    @include no-select;
  }

  .innerPost {
    // padding: 30px 30px;
    // width: 800px;
    min-height: 70px;
    padding: 10px 30px;
    position: relative;
  }
}
.PostText {
  position: relative;
  text-align: start;
  word-break: break-all;
  height: auto;
  color: white;
  font-weight:600;
  & a {
    text-decoration: none;
    font-weight: 500;
  }
}
.commentViewer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.commentShower {
  @include no-select;
  cursor: pointer;
  border: none;
  transition: 0.3s ease-in-out;
  padding: 3px 10px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  background: linear-gradient(
    to right bottom,
    rgb(255, 0, 132),
    rgb(255, 0, 68)
  );
}
.typeNewComment {
  margin: 0 auto;
  width: 900px;
  //   background-color: rgb(192, 66, 66);
  margin-bottom: 20px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .newCommentTextarea {
    resize: none;
    width: 800px;
    height: 80px;
    // color: rgb(0, 50, 91);
    color: rgb(26, 106, 255);
    border-color:rgb(26, 106, 255);
    // margin:0 auto;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }
    content: "wewef";
    &:focus {
      outline: none;
    }
    padding: 10px;
    border-radius: 4px;
  }
  .submitComment {
    width: 50px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:white;
    border: 1px solid rgb(26, 106, 255);
    transition: 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.4);
    cursor: pointer;
    border-radius: 5px;
    .submitCommentIcon {
      width: 30px;
      @include no-select;
    }
    &:hover {
      background-color:rgb(255, 59, 124) ;
      border: none;
    }
  }
  .commentsContainer {
    position: absolute;
  }
}

// entire post
.wholePostContainer {
  position: relative;
}

///icons
///
.gg-edit-markup {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 22px;
  overflow: hidden;
  perspective: 20px;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
.gg-edit-markup::after,
.gg-edit-markup::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
}
.gg-edit-markup::before {
  width: 0;
  height: 6px;
  border-bottom: 6px solid;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  bottom: 9px;
  left: 6px;
}
.gg-edit-markup::after {
  width: 10px;
  height: 12px;
  border: 2px solid;
  border-top: 4px solid;
  border-bottom: 0;
  bottom: 0;
  left: 4px;
  transform: rotateX(60deg);
}
//remove
.gg-remove {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 22px;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
.gg-remove::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px;
}
