@import "../../style/mixins.scss";
.postContainer {
   width: 900px;
  // min-height: 200px;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin: 50px 0;
  transition: 0.5 linear;
  .upPost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
    color: rgb(138, 138, 138);
    border-bottom: 1px solid rgb(138, 138, 138);
    .editImg,
    .delImg {
      width: 30px;
      margin-left: 20px;
      @include no-select;
    }
  }
  .seeLessMore{
    @include no-select
  }
  .editImg:hover,
  .delImg:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  .innerPost {
    // padding: 30px 30px;
    // width: 800px;
    min-height: 70px;
    padding: 10px 30px;
    position: relative;
  }
}
.PostText {
  position: relative;
  text-align: start;
  word-break: break-all;
  height: auto;
  & a {
    text-decoration: none;
    font-weight: 500;
  }
  & .PostTextInner {
    font-weight: 500;
  }
}
.commentViewer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.commentShower {
  @include no-select;
  cursor: pointer;
  border: none;
  transition: 0.3s ease-in-out;
  padding: 3px 10px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  background: linear-gradient(
    to right bottom,
    rgb(255, 0, 132),
    rgb(255, 0, 68)
  );
}
.typeNewComment {
  margin: 0 auto;
  width: 900px;
  //   background-color: rgb(192, 66, 66);
  margin-bottom: 20px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .newCommentTextarea {
    resize: none;
    width: 800px;
    height: 80px;
    // color: rgb(0, 50, 91);
    color: rgb(2, 24, 135);
    border-color: rgb(2, 24, 135);
    // margin:0 auto;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }
    content: "wewef";
    &:focus {
      outline: none;
      
    }
    padding: 5px 10px;
    border-radius: 6px;
  }
  .submitComment {
    width: 50px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      to right bottom,
      
      rgba(0, 17, 255, 0.76),rgba(255, 113, 113, 0.863)
    );
    // border: 1px solid grey;
    transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 2);
    cursor: pointer;
    border-radius: 10px;
    .submitCommentIcon {
      width: 30px;
      @include no-select
    }
    &:hover {
      background-color: rgba(64, 0, 255, 0.728);
    }
  }
  .commentsContainer{
    position: absolute;
  }
}

// entire post
.wholePostContainer{
    position: relative;
}